


{% if page.is_homepage? == true %}


      {% yield %}


      {% include "1-boxify-slider" %}
      
      {% include "1-sedna-intro" %}
      {% include "1az-organizations" %}

      
      {% include "1-sedna-features" %}
      {% include "1-sedna-features-assets" %}

      {% include "1-sedna-blog" %}
      {% include "1-sedna-testimonial" %}
      {% include "1-cardio-slider" %}
      {% include "1-sedna-signup" %}
      {% include "1-sedna-testimonial" %}


		{% if page.slug == 'issues' %}
		    {% include "1-sedna-intro" %}
		{% endif %}



{% else %}

  {% yield %}

{% endif %}


